* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.container-sml {
    max-width: 850px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
}
.text-bold {
    font-weight: bold;
}
.text-ul {
    text-decoration-line: underline;
}
.text-bold-ul {
    font-weight: bold;
    text-decoration-line: underline;
}
.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2.5rem 0;}
.py-3 {padding: 3.5rem 0;}

.p-1 {padding: 1.5rem;}
.p-2 {padding: 2.5rem;}
.p-3 {padding: 3.5rem;}

p {
    margin: 0.75rem 0;
}
a {
    text-decoration: none;
}
.text-w {
    color: white;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
html {
    scroll-behavior: smooth;
}


#navbar {
    background: #2685de;
    color: #ffffff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
#navbar .logo-header {
    font-weight: bold;
    font-size: 30px;
    padding-left: 1rem;
}
#navbar .login-btn {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    margin: 1rem;
    background: #038cfc;
    color: white;
    font-size: 18px;
    border: 1px solid #444444;
    height: 36px;
    border-radius: 36px;
    cursor: pointer;
    transition: 0.5s;
}
#navbar .login-btn:hover {
    background: #00478a;
}
#navbar a {
    text-effect: none;
    color: #ffffff;
}


#welcome h1 {
    display: flex;
    margin-top: -15rem;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 3rem;
    animation: fadeIn 1.5s;
}
#welcome .btn-big {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2.5rem;
    margin: 1rem;
    background: #038cfc;
    color: white;
    font-size: 24px;
    border: 2px solid #444444;
    height: 36px;
    border-radius: 36px;
    width: 15rem;
    min-width: 10rem;
    cursor: pointer;
    animation: fadeIn 1s linear both;
    animation-delay: 0.75s;
    transition: 0.5s;
}
#welcome .btn-big:hover {
    background: #00478a;
}
#welcome {
    background: #333333 url("../img/MainBG.jpg") no-repeat;
    position: center;
    height: 100vh;
}
#welcome .welcome-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
#welcome .arrow {
    bottom: 20px;
    padding: 10px 22px;
    border-radius: 100%;
    position: absolute;
    color: white;
    -webkit-text-stroke: 1px #333333;
    text-decoration: none;
    animation: fadeIn 1s linear both;
    animation-delay: 1.25s;
    transition: 0.5s;
}
#welcome .arrow:hover {
    background: rgba(101, 101, 101, 0.4);
}


#about h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #333333;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
#about .mar-top {
    margin-top: 6rem;
}
#about h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #333333;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
#about p {
    font-size: 22px;
}
#about .gap {
    margin-bottom: 7rem;
}
#about .gap-sml {
    margin-bottom: 3rem;
}
#about .no-gap {
    margin-bottom: 0;
}
#about .arrow {
    position: absolute;
    padding: 10px 20px;
    border-radius: 100%;
    color: white;
    margin-top: 1rem;
    align-content: center;
    -webkit-text-stroke: 1px #333333;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: 0.5s;
}
#about .arrow:hover {
    background: rgba(101, 101, 101, 0.4);
}


#contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 18px;
}
#contact h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #333333;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
#contact div {
    flex: 1;
    flex-direction: row;
}
#contact input {
    display: block;
}
#contact label {
    width: 10%;
    min-width: 8%;
    overflow: visible;
}
#contact .contact-form .FormLine {
    margin: 2rem;
}
#contact .contact-form input, #contact .contact-form textarea {
    width: 100%;
    padding: 0.4rem;
    margin-left: 4rem;
}
#contact .contact-form textarea {
    min-height: 3rem;
    max-height: 15rem;
    cursor: text;
}
#contact h3 {
    margin-top: 3rem;
}
#contact .arrange {
    width: 75%;
}
#contact .msg {
    position: sticky;
}
#contact .btn-send {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    margin: 1rem;
    background: #038cfc;
    color: white;
    font-size: 18px;
    border: 1px solid #444444;
    height: 40px;
    border-radius: 40px;
    max-width: 15%;
    transition: 0.5s;
    cursor: pointer;
}
#contact .btn-send:hover {
    background: #00478a;
}


#login {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
#login .login-form {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 10rem;
    animation: fadeIn 1s linear both;
    animation-delay: 1s;
}
#login h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    color: #333333;
    margin-bottom: 2rem;
    margin-top: 4rem;
    animation: fadeIn 1.5s linear both;
}
#login div {
    flex: 1;
    flex-direction: row;
}
#login label {
    margin-bottom: 1rem;
}
#login .login-form .box {
    width: 100%;
    padding: 0.4rem;
    min-width: 25rem;
    max-width: 30rem;
}
#login h1 {
    justify-items: center;
    align-items: center;
    justify-content: center;
}
#login .login-form .log-in {
    display: flex;
    alignment: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 1rem 1.5rem;
    margin: 1rem;
    background: #038cfc;
    color: white;
    font-size: 18px;
    border: 1px solid #444444;
    height: 40px;
    max-width: 25%;
    border-radius: 40px;
    transition: 0.5s;
    cursor: pointer;
}
#login .log-in:hover {
    background: #00478a;
}



#main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0;
    margin-top: 2rem;
    padding: 1rem;
    background: #2685de;
    color: white;
}
#main-footer-login {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0;
    margin-top: 2rem;
    padding: 1rem;
    background: #2685de;
    color: white;
}

